## functions in util module

In [1]:
# merging new's (movieID, title) with old's title so that detailed roles (crew information which old data seem to have??) can be added.
# cinemagoer can be used for teh new's template ia.getmovieID()?

In [ ]:
!pip3 install cinemagoer

Collecting cinemagoer
  Using cached cinemagoer-2022.2.11-py3-none-any.whl (301 kB)
Collecting lxml
  Using cached lxml-4.9.1.tar.gz (3.4 MB)
  Preparing metadata (setup.py) ... done
Collecting SQLAlchemy
  Using cached SQLAlchemy-1.4.44.tar.gz (8.5 MB)
  Preparing metadata (setup.py) ... done
Using legacy 'setup.py install' for lxml, since package 'wheel' is not installed.
Using legacy 'setup.py install' for SQLAlchemy, since package 'wheel' is not installed.
Installing collected packages: SQLAlchemy, lxml, cinemagoer
  Running setup.py install for SQLAlchemy ... done
  Running setup.py install for lxml ... \

In [ ]:
import string
import pandas as pd
from src.match_format import txt2df, tsv2df
from src.join_filter import movie, person, filter_year, filter_title, filter_movie_others, join_movie, filter_rows_random
from src.check_consistent import print_shape, multi_col_unique, movie_compare
import numpy
from imdb import Cinemagoer
import os
# test data: old_movie = pd.read_pickle('data/movie/old_movie.pkl')

## Movie titles
- what is in old but not in new
- what is in new but not in old
how to compare strings with string?

In [4]:
movie()

/Users/hyunjimoon/Dropbox/tolzul/BayesSD/ContinuousCode/3_Data4DM/durable_dominance/cont_code/src/join_filter.py:82: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'year'] = df.year.apply(lambda x: int(x) if str(x).isnumeric() else -1)

In [5]:
old_movie = pd.read_pickle('old_movie_year_title.pkl')
new_movie = pd.read_pickle('new_movie_year_title_typemovie.pkl').drop(['region'], axis = 1)

In [30]:
print_shape(old_movie, new_movie)

(1776654, 168973)

In [83]:
ot = multi_col_unique(old_movie)
ot

             old_id      old_id                               title  year
0              OLD0        OLD0                     Cristián Campos  2010
1              OLD1        OLD1                        Life & Death  2013
2              OLD2        OLD2                 Disguise for Murder  2001
3              OLD3        OLD3                         Anniversary  1971
4              OLD4        OLD4  Angus Black/Lester Barrie/DC Curry  2009
...             ...         ...                                 ...   ...
2545514  OLD2417448  OLD2417448                      The Vanquished  1953
2545518  OLD2545518  OLD2545518          V poiskakh kapitana Granta  1985
2545524  OLD1549795  OLD1549795                         Winterwatch  2012
2545525  OLD2545525  OLD2545525                          The Payoff  1942
2545530  OLD2545530  OLD2545530                    Tomorrow's Youth  1935

[1776654 rows x 4 columns]

In [87]:
old_movie = multi_col_unique(old_movie)
join_movie(old_movie, new_movie)

In [99]:
old_movie

             old_id                               title  year
0              OLD0                     Cristián Campos  2010
1              OLD1                        Life & Death  2013
2              OLD2                 Disguise for Murder  2001
3              OLD3                         Anniversary  1971
4              OLD4  Angus Black/Lester Barrie/DC Curry  2009
...             ...                                 ...   ...
2545514  OLD2417448                      The Vanquished  1953
2545518  OLD2545518          V poiskakh kapitana Granta  1985
2545524  OLD1549795                         Winterwatch  2012
2545525  OLD2545525                          The Payoff  1942
2545530  OLD2545530                    Tomorrow's Youth  1935

[1776654 rows x 3 columns]

In [89]:
mo = pd.read_csv("mo.tsv", sep='\t', low_memory = False) #pd.merge(old_movie, new_movie, on = ('title', 'year'), how = 'inner') # 2m
mi = pd.read_csv("mi.tsv", sep='\t', low_memory = False) #pd.merge(old_movie, new_movie, on = ('title', 'year'), how = 'outer') # 90k

In [90]:
mi #90k

,index,old_id,title,year,titleId
0,0,OLD60,Winter,2006,tt0808541
1,1,OLD218,Operation Homecoming: Writing the Wartime Expe...,2007,tt0970184
2,2,OLD2120,Virus,2011,tt1819776
3,3,OLD2185,Dolphin Tale,2011,tt1564349
4,4,OLD2216,The Foreigner,2011,tt2133340
...,...,...,...,...,...
93277,93277,OLD2544715,Nobody's Perfect,1990,tt0097994
93278,93278,OLD2544825,Secret of the Wastelands,1941,tt0034166
93279,93279,OLD2544845,Little Accident,1930,tt0021078
93280,93280,OLD2544867,Sunset Trail,1932,tt0023539
93281,93281,OLD2545209,The Spy in Black,1939,tt0031968

In [91]:
mo #1.7m

           index old_id                               title  year    titleId
0              0   OLD0                     Cristián Campos  2010        NaN
1              1   OLD1                        Life & Death  2013        NaN
2              2   OLD2                 Disguise for Murder  2001        NaN
3              3   OLD3                         Anniversary  1971        NaN
4              4   OLD4  Angus Black/Lester Barrie/DC Curry  2009        NaN
...          ...    ...                                 ...   ...        ...
1780098  1780098    NaN                           Albatross  2017  tt9914642
1780099  1780099    NaN        9/11: Escape from the Towers  2018  tt9914644
1780100  1780100    NaN                 The War of Godzilla  2015  tt9914828
1780101  1780101    NaN                      Blind Ambition  2021  tt9914972
1780102  1780102    NaN                           Safeguard  2020  tt9916190

[1780103 rows x 5 columns]

In [94]:
old_only = mo[mo.titleId.isnull()] # 1.6m is old\new 1673488

In [95]:
new_only = mo[mo.old_id.isnull()] # 75k is new\old 75544

In [98]:
old_only2 = old_movie[~old_movie.index.isin(new_movie.index)]
new_only2 = new_movie[~new_movie.index.isin(old_movie.index)]
print_shape(old_only2, new_only2)

(1731475, 123794)

In [18]:
old_only

Empty DataFrame
Columns: []
Index: [(Cristián Campos, 2010), (Life & Death, 2013), (Disguise for Murder, 2001), (Angus Black/Lester Barrie/DC Curry, 2009), (New Orleans, 2003), (Kiss Me Kate, 2011), (Ikiteita manmosu, 1976), (ActorsE Chat with Cody Deal and Judith Jones, 2011), (A Próxima Vítima, 1995), (Discriminación en el lenguaje, 1998), (When New Cars Hit Old Cars, 2004), (The Eye of Ra: Part 2, 1971), (Shinkai no akuma, 2011), (How the West Was Sung, 1999), (Game 2, 1951), (Only One Woof, 1988), (America's Sandiest Car?, 2013), (The 500 Percent Club, 2012), (Rettungsflug, 1990), (Tim Clark - President of Emirates Airlines, 2012), (Adventure Inc., 2002), (The Breaking Point/Working Class People/The Voter's Choice: Part 3, 1990), (The Weight: Part 1, 2004), (Osa 118. Kimonkylän taidekoti, 2003), (Montgomery Gentry, 2005), (Vertrauter Feind, 2004), (Guilt-Free Pub Grub, 2010), (The House Sitters Episode, 2011), (Cloned Puppies: A New Generation of 'Trakrs', 2009), (Adults Only 20 to 1: World's Sexiest Scandals, 2010), (All That Jasmine, 1994), (Baby Manning, 1998), (Blutsbande, 2006), (Bat Man, 2012), (The Next First Lady?/Here Comes the Girls/Toni Morrison, 1999), (ActorsE Chat with Judith Jones and Breanne Silvi, 2009), (Johnny Depp: The Ultimate Outsider, 2003), (Armando's Asian Twist, 2012), (Hard Choices, 2001), (Lunch Hour, 2009), (All Access Canelo vs Lopez Ep 2, 2012), (Mi amigo quiere, 2012), (Wish You Weren't Here, 1999), (Regina Versus Mini, 1970), (Evasión o victoria, 2000), (Wasted, 1991), (Fishing Challenge, 2011), (Joy's Out of Work, 2010), (Hostage/In Search of Bin Laden/The Captain, 2005), (Silence of the Clams, 2007), (Brennender Ehrgeiz, 1999), (Oahu, HI, 2003), (Sometimes That's Just the Way It Is, 1999), (Motivational Chat with Stevie D AndJaime Kalman, 2012), (Silenci, 2009), (Estranged Daddy Bails Again/Lost and Found Reward, 2010), (American Justice, 2004), (10 manieren om Hedwig te pesten, 2008), (The Man Who Loves Snakes, 1962), (The Man in the Crowd, 1961), (From Here to Maternity, 1981), (Andres Carefully Plans Out How to Tell Sophia the Truth about Her Real Parents, 2011), (Brian Eno: Another Green World, 2010), (¡Qué maravilla Gandía!, 2013), (Amor sin condiciones, 2006), (A tortas... con la depre, 2006), (Harold Pinter Part 2: Celebration, 2002), (Livet på en pinne, 1996), (Por amor a la verdad, 1999), (Borrón y cuenta nueva, 2002), (Let the Sunshine In: Part 1, 1986), (Hour 1, 2010), (The Lobbyist/Roberto Benigni/Choosing Life, 1999), (Samurai, 1997), (Malas noticias, 2004), (Cybersoldier, 1995), (The Legacy, 1998), (Money Makes the World Go Round, 1993), (Balloon Ride!, 2010), (Lätkän kannabiskohu, 2013), (Abenteuer Auto, 2000), (Letra pequeña, 2000), (Satmaran, 2001), (Mein fernes Kind - 33 Jahre Schuld und Sehnsucht, 2005), (Civismo y buenas prácticas, 2009), (De zon breekt door, 2001), (Tanya & Andrea: Glamorous Rehearsal Dinner, 2010), (Dead Family Robinson, 2004), (Kirsty's Biscuit, 1994), (Republic of Virtue, 2010), (The All-American Canal/Chef Jose Andres/Conan, 2010), (Aile Reisi, 2009), (Hungry Ghosts, 2006), (A Escolha de Bebel, 2002), (Acampamento de Férias 3, 2012), (Seared Pork Tenderloin, 2007), (War and Pieces, 2000), (Vain pappi puuttuu, 2001), (Lanhydrock House, 1997), (Only This Night, 1950), ...]

[1254287 rows x 0 columns]

In [19]:
new_only

                                                  titleId region
title                                     year
Arrival of Immigrants, Ellis Island       1906  tt0000537     US
The Heart of O Yama                       1908  tt0000698     US
The Humpty Dumpty Circus                  1898  tt0000704     US
Bill Sharkey's Last Game                  1910  tt0000809     US
Napoleon, the Man of Destiny              1908  tt0000979     US
...                                                   ...    ...
Ancient World Exposed                     2019  tt9916348     US
March of Dimes Presents: Once Upon a Dime 1963  tt9916560     US
The Nun 2                                 2019  tt9916720     US
Pretty Pretty Black Girl                  2019  tt9916756     US
38                                        2018  tt9916764     US

[580264 rows x 2 columns]

In [96]:
print(mi.shape[0], "+", old_only.shape[0] , "=", mi.shape[0] + old_only.shape[0], "VS", old_movie.shape[0])
print(mi.shape[0], "+", new_only.shape[0], "=", mi.shape[0] + new_only.shape[0], "VS", new_movie.shape[0])

93282 + 1611538 = 1704820 VS 1776654
93282 + 75283 = 168565 VS 168973

## Person

In [ ]:
def person(old_columns = ['id', 'name'] , new_columns = ):
    os.chdir(os.getcwd() + "/data/movie")
    old_person = pd.read_pickle("old_person.pkl")
    old_person.columns = ['id', 'name', 'imdbIndex', 'imdbId', 'gender', 'namePcodeCf', 'namePcodeNf', 'surnamePcode', 'md5sum']
    #old_person.columns = ['id', 'personID','infoTypeID','info', 'note']
    #                     'phoneticCode', 'episodeOfID', 'seasonNr', 'episodeNr', 'seriesYears', 'md5sum']

    new_person = pd.read_pickle('new_person_basics.pkl')
    # new_movie_basic = pd.read_pickle('new_movie_basics.pkl')
    # new_movie_basic = new_movie_basic.rename(columns = {"tconst": "titleId", 'originalTitle': 'title', 'startYear': 'year'})

    #new_movie_director = pd.read_pickle("data/imdb22/22title_crew.pkl")
    #newtitle_id.columns = ['titleId', 'directors', 'writers']

    return old_person, new_person

In [ ]:
old_person, new_person = person()

In [104]:
old_person.columns = ['id', 'personID','infoTypeID','info', 'note']

In [109]:
old_person = pd.read_pickle("old_person.pkl")
#new_person = pd.read_pickle('new_person_basics.p6yhn     kl')

In [112]:
old_person.columns = ['id', 'name', 'imdbIndex', 'imdbId', 'gender', 'namePcodeCf', 'namePcodeNf', 'surnamePcode', 'md5sum']
old_person['id', 'name'] #4m

,id,name,imdbIndex,imdbId,gender,namePcodeCf,namePcodeNf,surnamePcode,md5sum
0,451,"A., David",NaN,NaN,m,A313,D13,A,cf45e7b42fbc800c61462988ad1156d2
1,129,"-Alverio, Esteban Rodriguez",NaN,NaN,m,A4162,E2315,A416,f5c410bff6839b545d04c531f776e8f2
2,1688,"Abbas, Athar",NaN,NaN,m,A1236,A3612,A12,cf230f6ed718a330dc688c20b8d741d3
3,3631,"Aberer, Leo",NaN,NaN,m,A164,L16,A16,05684f16b84db387e613d3de57eca5b7
4,512,A.J.,II,NaN,m,A2,NaN,NaN,c63baf59b537e471b6ec4b68c5d1373e
...,...,...,...,...,...,...,...,...,...
4193671,4193674,"Öndemir, Önder",NaN,NaN,NaN,N3565,N3653,N356,4aaaea8e689c667e6f34023f16db5481
4193672,4193676,"Özgür, Lale",NaN,NaN,NaN,Z264,L426,Z26,0b7c397c3605fdc0afbf8220061c1579
4193673,4193670,"Ôta, Akemi",NaN,NaN,NaN,T25,A253,T,ce24ccbc6f95737710b925cd66722d06
4193674,4193675,"Östling, Kia",NaN,NaN,NaN,S3452,K2345,NaN,8c8b06b41b1639845317b12613b0a95b
4193675,4193677,"Þórisson, Jónas",NaN,NaN,NaN,R2525,J5262,R25,d51c4a95c9858e4aface1d835a79ee4d

In [106]:
old_movie_info = pd.read_pickle("old_movie_info.pkl")
old_movie_info.columns = ['id', 'movieID', 'infoTypeID', 'info', 'note']
old_movie_info

,id,moviID,infoTypeID,info,note
0,2,3065,11,The show was rerun on Swedish television in 19...,NaN
1,3,4297,11,The 12 oz. Mouse Volume One DVD presents the e...,NaN
2,4,4317,11,Another version aired immediately after the pr...,NaN
3,5,4491,11,Several episodes from this series were edited ...,NaN
4,6,8436,11,In the DVD releases by Anchor Bay Entertainmen...,NaN
...,...,...,...,...,...
14928385,14928387,2542730,9,"Die Extreme, die Widersprüche, die Grausamkeit...",NaN
14928386,14928388,2542734,9,Survival strategies for the new millennium is ...,NaN
14928387,14928389,2542738,9,An animated documentary of a woman's wartime m...,NaN
14928388,14928390,2542744,9,loneliness is dangerous,NaN
14928389,14928391,2531803,9,Everyone gets old. Not everyone grows up,NaN

In [ ]:
old_movie_person =

In [103]:
new_person ['nconst', 'primaryName': 'name', 'birthYear': 'year', 'knowForTitles': 'titles']

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0053137,tt0050419,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0117057,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0056404,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0072562,tt0080455,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050986,tt0069467,tt0060827"
...,...,...,...,...,...,...
11988018,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt11657662,tt14069590"
11988019,nm9993716,Essias Loberg,\N,\N,NaN,\N
11988020,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11988021,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11988022,nm9993719,Andre Hill,\N,\N,NaN,\N

In [ ]:
old_person

## Cinemagoer

In [ ]:
from imdb import Cinemagoer
ia = Cinemagoer()
object = ia
filehandler = open("Cinemagoer2.pkl", 'w')

import pickle, copyreg, ssl

def save_sslcontext(obj):
    return obj.__class__, (obj.protocol,)

copyreg.pickle(ssl.SSLContext, save_sslcontext)
context = ssl.create_default_context()
foo = pickle.dumps(context, protocol=3)
# _foo = pickle.loads(foo)
# print(_foo)
# #<ssl.SSLContext object at 0x1011812a8>
# print(_foo.protocol)

# when working with engagingdb, mindful of protocol (conda can be of aid)
#pickle.dump(object, filehandler, protocol = 3)

In [ ]:
ia = Cinemagoer()
movie = ia.get_movie('0133093')
for director in movie['directors']:
    print(director['name'])
for genre in movie['genres']:
    print(genre)

In [383]:
people = ia.search_person('Mel Gibson')
for person in people:
   print(person.personID, person['name'])
person = ia.get_person('0000206')
print(person)

0000154 Mel Gibson
12550288 Mel Gibson
2153167 Mel Gibson
0317112 Mel Gibson
3323885 Adam Taylor
2800055 Mel Gibson
3742421 Melina Mari Bryant   nickname
0317195 Terel Gibson
0316945 Donal Gibson
4047961 Noel Gibson
0316878 Cal Gibson
13996602 Joel Gibson
3912400 Jamel Gibson
2106809 Raquel Gibson
0316950 E.L. Gibson
12479102 Gel Gibson
2798174 Daniel Gibson
6928816 Christel Gibson
0316915 Daniel Gibson
1863978 Ethel Gibson