In [2]:
import os
#import xarray as xr
import pandas as pd
from iter0 import set_dir_moviedata
from simulation_test import make_consistent_title
import numpy as np
#from imdb import Cinemagoer
# import os
# os.chdir(os.getcwd() + "/data/movie")
# test data: old_movie = pd.read_pickle('data/movie/old_movie.pkl')
set_dir_moviedata()
import string
from langdetect import detect
#make_consistent_title(frac =1)
from iter import sel_title, sel_year, sel_region_type, sel_rows_random, join_movie, save_iter, compare_mental_material

In [3]:
join2 = pd.read_pickle("2join_merged_title.pkl")

,index,old_id,title,year,titleId,region,titleType,soft_eng
13,13,OLD773454,El próximo verano,1986,NaN,NaN,NaN,False
52,52,OLD2259020,Sandra Munt y la Sociedad Thule,2015,NaN,NaN,NaN,True
67,67,OLD2183758,One by One,2012,NaN,NaN,NaN,True
70,70,OLD2072697,La promesse d'une mère,2013,NaN,NaN,NaN,False
71,71,OLD1487978,The Wrecker,1968,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...
1808223,1808223,OLD1648130,Adnan semp-it,2010,NaN,NaN,NaN,True
1808244,1808244,OLD132045,Murder of the Killer,2007,NaN,NaN,NaN,True
1808245,1808245,OLD2260318,Ru Lai Ba Gua Gun,1985,NaN,NaN,NaN,True
1808260,1808260,OLD2104712,Overdrive,1997,NaN,NaN,NaN,True
1808274,1808274,OLD1398299,"Not Now, I'm Dying/Eleanor's Return/Too Young ...",1979,NaN,NaN,NaN,True

In [20]:
len(join2[join2.titleId.isnull()].title.unique()) #101k

101261

In [15]:
print(optin3.shape) #620019
len(optin3.title.unique()) #509272

(620019, 8)

509272

In [13]:
optin3[optin3.titleId.isnull()]

Empty DataFrame
Columns: [index, old_id, title, year, titleId, region, titleType, soft_eng]
Index: []

In [17]:
optin3.groupby('titleType').count()

               index  old_id   title    year  titleId  region  soft_eng
titleType
movie          65451   35071   65451   65451    65451   65451     65451
short         197717   77377  197717  197717   197717  197717    197717
tvEpisode     200248  100126  200248  200248   200248  200248    200248
tvMiniSeries    6005     811    6005    6005     6005    6005      6005
tvMovie        16203   10114   16203   16203    16203   16203     16203
tvSeries       35563   11163   35563   35563    35563   35563     35563
tvShort         2224     797    2224    2224     2224    2224      2224
tvSpecial      10286    4536   10286   10286    10286   10286     10286
video          80094   40526   80094   80094    80094   80094     80094
videoGame       6228    2728    6228    6228     6228    6228      6228

In [ ]:
# 1년 차이나는 것

In [8]:
df = join2_filter_g
for id, title in zip(range(df.shape[0]), df.title):
    try:
        df.loc[id, 'strong_eng'] = detect(title)
        print(detect(title))
    except:
        df.loc[id, 'strong_eng'] = np.nan
        print(title)

/var/folders/f0/xzz_g2mx5qb8982lmv5jylgc0000gn/T/ipykernel_54325/1155404167.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[id, 'strong_eng'] = np.nan

Welcome to Whitechapel District
The Rivals
For the Love of the Dame
Tom Jones
Tress, Treat and Tips
Bro to Bro/Trick or Trixie
Hart of Gold
Two Bulls in a Pen
5 Handyman Secrets Revealed
Johnson Over Jordan
Ice My House
Hungry for Love
Kaun Rokega Mujhe

/var/folders/f0/xzz_g2mx5qb8982lmv5jylgc0000gn/T/ipykernel_54325/1155404167.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[id, 'strong_eng'] = np.nan

Sincerity IV
The Caffeine File
Faith Healer
The Strongest Man in the World
Buffalo
Sarah Maladoror ou la nostalgie de l'utopie
Adult Movie Part 2
Doggett's Coat and Badge
The Press Conference
War on Polygamy
My Name Is Earl
Punk Country
Cumming of Age 2
Beauty Contest/Baseball
Eurovision laulukilpailu 1980 - Suomen karsinta
The Bulls**t Detective
Der Traum von der Nordostpassage
Flamma Flamma
Beautiful Scar
Sick as a Dog
Sick as a Dog
Test of Faith
Tales of Erotica
Shinigami arui wa shichinin misaki zenpen
Lewie Does Lou Gossett
Incognito
Incognito
Paradox
Paradox
Paradox
Paradox
Paradox
Paradox
Paradox
The Seventh Person
Sandra Munt y la Sociedad Thule
Ils voulaient tuer de Gaulle
Jagko
Parfumedamerne
Lambaaye
Playing God
Playing God
Epic Cupids
Futari no himitsu
The Proof Is in the Pudding
The Restaurant
WMIFF Part I
Fix
Tam II - vojaska verzija
Roskilde-special I
One by One
The Grant Shuffle
Her bor de gale
The Wrecker
Aflevering 4558
Handi-Capable
Can-Am Spyder
Quartet
Roadblock
The Cross-Town Hustle
Katy Hudson
Fast Forward
Fast Forward
Biggles Follows On: Part 3
The Pen of My Aunt
The Apartment
The Apartment
The Apartment
The Apartment
The Apartment
The Apartment
The Apartment
Tornade blanche
Op de natlantische bodem
Oni azami
Second Skin
Second Skin
Part 2
Part 2
Part 2

KeyboardInterrupt:

In [ ]:

print(f"{string.ascii_lowercase + string.ascii_uppercase}")

In [3]:
ITER = 3
mo_eng_us_movie = sel_region_type(sel_title(iter2_mt, ITER))

In [4]:
mo_eng_us_movie

,index,old_id,title,year,titleId,region,titleType,soft_eng
18,18,OLD2306248,Ski Ball,1973,tt0128519,US,movie,True
62,62,OLD1827090,Dirty Looks,1990,tt0135949,US,movie,True
94,94,OLD2160547,Missed Connections,2012,tt1967560,US,movie,True
340,340,OLD1700031,Butter,1998,tt0134380,US,movie,True
366,366,OLD2159926,Midnight Phantom,1935,tt0026711,US,movie,True
...,...,...,...,...,...,...,...,...
8194162,8194162,NaN,Sacred Butterflies,2023,tt17633316,US,movie,True
8195612,8195612,NaN,Kids at Sea,2020,tt10522328,US,movie,True
8198033,8198033,NaN,Psychic Vampire,2022,tt20850814,US,movie,True
8198509,8198509,NaN,Foul Mouth,2023,tt19854846,US,movie,True
8199037,8199037,NaN,Chic-A-Go-Go the Movie!,2008,tt20672796,US,movie,True

In [5]:
mo_eng_us_movie[mo_eng_us_movie.title == "What Is God's Eternity?"]

Empty DataFrame
Columns: [index, old_id, title, year, titleId, region, titleType, soft_eng]
Index: []

In [17]:
word = "What Is God's Eternity?"

def is_english(word):
    """
    is_english("A few good mand 2", "Wall-e", "What Is God's Eternity?") True
    """
    eng_charc = f"{string.ascii_lowercase + string.ascii_uppercase}" + " 0123456789" + "!-@#$%&*()/?+'` "
    return len(set([i for i in word] + [e for e in eng_charc])) == 52 + 10 + 16

print(is_english(word))

True

In [11]:
52 + 10 + 14

76

In [10]:
iter2_mt[iter2_mt.title == "What Is God's Eternity?"]

,index,old_id,title,year,titleId,region,titleType
40,40,OLD289589,What Is God's Eternity?,2012,NaN,NaN,NaN
6386327,6386327,NaN,What Is God's Eternity?,2013,tt2852528,NaN,tvEpisode

In [14]:
mt_title = iter2_mt.groupby('title').count()

,index,old_id,year,titleId,region,titleType
title,,,,,,
!Next?,1,1,1,1,1,1
!Que ve el Bisbe!,1,1,1,1,0,1
"""A Corrida:",1,1,1,0,0,0
"""Bookstore"" (10 minutes)",1,1,1,0,0,0
"""Hollywood Regency Meets Country Club Chic",1,1,1,0,0,0
...,...,...,...,...,...,...
öregHarcos II,1,0,1,1,0,1
über den Wolken,1,0,1,1,0,1
überRICH,1,0,1,1,1,1
ülker Dankek Reklami,1,0,1,1,0,1
üç,1,1,1,0,0,0

In [12]:
len(iter2_mt.title.unique())

4179580

In [ ]:
for i in iter2_mt.iterrows():
    if

In [ ]:
xr.concat([iter0_nt.set_coords('titleId'), iter1_mt.set_coords('titleId')], dim = 'titleId')

In [ ]:
xr.concat([iter0_nt, iter1_mt], dims = titleId)

In [ ]:
iter1_mt = pd.read_pickle('iter1_merged_title.pkl').to_xarray()

In [ ]:

# old_columns = ['title', 'year']
# new_columns = ['titleId', 'title', 'year', 'region', 'titleType']
#
# iter0_ot = pd.read_pickle('old_title.pkl').loc[:, old_columns].to_xarray()
# iter0_nt = pd.read_pickle('new_title.pkl').loc[:, new_columns].to_xarray()
#iter1_mt = pd.read_pickle('iter1_merged_title.pkl').to_xarray()
#iter0_ot_xr = iter0_ot.to_xarray()
#print(iter0_ot)
iter0_nt_stack_f = iter0_nt.stack(tyid = ['title', 'year'], create_index = False).set_coords
iter0_nt_stack_f

In [ ]:
iter0_nt_stack_f

In [ ]:
make_consistent_title(frac =.0001)

In [ ]:
iter1_mt

In [ ]:
xr.concat([iter1_mt])

In [ ]:
print(iter0_ot.dims, iter0_nt.dims, iter1_mt.dims)

In [ ]:
iter1_mt

In [ ]:
idata = az.from_netcdf("sbc.nc")

In [ ]:
idata.prior

In [ ]:
iter0_ot_xr = iter0_ot.to_xarray()

In [ ]:
iter0_ot

In [ ]:
iter0_nt.to_xarray().

In [ ]:
iter0_nt_id = iter0_nt.to_xarray().from_nectcdf()
#iter1_mt_xr = iter1_mt.to_xarray()

In [ ]:
iter0_nt_xr

In [ ]:
iter1_mt_xr.from_

In [ ]:
xr.concat([iter0_ot,iter0_nt, iter1_mt], dim = )

In [ ]:
az.add_gr
xr.concat([iter0_ot,iter0_nt, iter1_mt])


draws2data_idata = draws2data_idata_bf.stack(prior_draw=["chain", "draw"], groups="prior_groups", create_index = False)


post = xr.concat((data2draws_idata_s.posterior for data2draws_idata_s in sbc_list), dim="titleId")
post_pred = xr.concat((data2draws_idata_s.posterior_predictive for data2draws_idata_s in sbc_list), dim="titleId")
idata_orig.add_groups(posterior=post, posterior_predictive = post_pred, observed_data = draws2data_dataset)

In [ ]:
make_consistent_title(frac=0.0001)

In [ ]:

iter0_old_movie = pd.read_pickle('old_title.pkl').loc[:, old_columns]
iter0_new_movie = pd.read_pickle('new_title.pkl').loc[:, new_columns]
iter1_merged = pd.read_pickle('iter1_merged_title.pkl')

In [ ]:
iter0_old_movie_xr = iter0_old_movie.to_xarray()
iter0_new_movie_xr = iter0_new_movie.to_xarray()
iter1_merged_xr = iter1_merged.to_xarray()

In [ ]:
iter0_old_movie

In [ ]:
iter0_old_movie_xr

In [ ]:
iter0_new_movie_xr

In [ ]:
iter1_merged_xr

advantage of grouping dataset (labeled multidim array): module, ccom

In [ ]:

# dimensions are names describing what each axis is representing and coords are data related to datavariables, e.g. it could contain similar named object as some dim
# If dim is not found in coords its values are range(0,n)
# coords can also contain other (meta)data than dim info
output_format = dict(
    iter0_om=["index"],
    iter0_nm =["index"],
    iter1 = ["index"],
    log_likelihood={
        "loglik": "loglik"
    },
    coords={
        "year": [n for n in range(precision['N'])],
        "movie": setting['target_simulated_vector_names'],
        "region": [r for r in range(precision['R'])]
    },
    dims={
        'person': ["name", "year"],
        'movie': ["title", "year"],
        'character': ["movie", "person"],
    }
)

In [ ]:
iter0_old_movie_id =  az.convert_to_inference_data(iter0_old_movie_xr)

In [ ]:
iter0_old_movie_id

# iter0: file directory

#iter1: opt-out selection

#iter2: opt-in selection
- reference functions from iter0, iter2

discussion:

  - list of verification check? currently, three checkpoints (after iter1-weak_sel, after join, after iter2-strong_sel)
  - list of validation check? (are we building the right product)
 ```
 def compare_mental_material(df, iter, is_old=True): #TODO make this as writelines()
    if iter ==0:
        if is_old:
            print("###### ITER0 COMPLETE\n", df)
        else:
            print(df)
    elif iter == 1:
        print("###### ITER1 COMPLETE")
        print("from merged table, only old's `titleId` is na, only new's `old_id`is na", df)
        print("rows with titleId should include nonenglish term\n", df)
    elif iter == 2:
        print("###### ITER2 COMPLETE\n")
        print("new_movie deleted na year and include nonmovie type and non us region, nonenglish titiles", df)
 ```

In [ ]:
set_dir_moviedata()
print(os.getcwd())

In [ ]:
old_columns = ['title', 'year']
new_columns = ['titleId', 'title', 'year', 'region', 'titleType']
iter0_old_movie = pd.read_pickle('old_title.pkl').loc[:, old_columns]
iter0_new_movie = pd.read_pickle('new_title.pkl').loc[:, new_columns]

iter1_merged = pd.read_csv('iter1_merged_title.tsv', sep = '\t')

In [ ]:
orphan = ['Ajeossi', 'On the edge of even', 'A day of violence', 'About my father']
for o in orphan:
    print(o, "is in old is", any(iter0_old_movie.title.isin([o])))

In [ ]:
iter1_merged = merged_iter1

In [ ]:
for o in orphan:
    print(o, "is in old is", any(iter1_merged.title.isin([o])))

In [ ]:
merged_iter1[mergtitle, 'Ajeossi')

In [ ]:
#set_dir_moviedata()
make_consistent_title(IS_PKL = False, IS_SAVE= False,  frac =0)
# ITER0: DATA READ, CLEANING
#old: [2,545,531 rows x 2 columns]
#new: [11,578,183 rows x 5 columns]

# ITER1: PASSIVE SELECT (OPT OUT) ROWS
# remove titles = final, pilot, na / including # or '-0' or '-1'/
# outermerge: 8m row, 7 col

# ITER 2: ACTIVE SELECT (OPT IN) ROWS: INFER title is ENG or then select ENG
# remove titles: df['soft_eng'] = df.title.apply(lambda x: is_english(x))
#merged_title_eng_us_movie 50k

#ITER 3: INSPECT OLD\NEW
# remove titles: df['strong_eng'] = df.title.apply(lambda x: detect(x)) #"Anajigoku" pass iter2, fail iter3 (sw)
#none

In [ ]:
old = pd.read_pickle("old_title.pkl")
old[old.year == 2006]

In [ ]:
merged_title_iter1 = pd.read_pickle("merged_title_iter1.pkl")
merged_title_iter1.shape[0]

In [ ]:
mo_eng_us_movie = sel_region_type(sel_title(merged_title_iter1, 1, characters = ['Pilot', 'Finale'])) # 169k -> 65879
mo_eng_us_movie.shape[0]

In [ ]:
mo_eng_us_movie[mo_eng_us_movie.year ==2006]

In [ ]:
mo_eng_us_movie[mo_eng_us_movie.titleId.isnull()]

In [ ]:
merged_title_eng_us_movie = pd.read_pickle('merged_title_eng_us_movie.pkl')
merged_title_eng_us_movie

new\old movies

In [ ]:
new_not_old = mo_eng_us_movie[mo_eng_us_movie.old_id.isnull()]
new_not_old

In [ ]:
new_not_old.year.hist()